<!doctype html>
<html>

<head>

	<head>
		<link rel="stylesheet" type="text/css" href="../assets/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/eventslayout.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/StampsComponent.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/HeroBannerComponent.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/HeaderComponent.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/FooterComponent.css">
		<meta charset="utf-8">
		<title>Events Page</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	</head>

	<body>
		<div class="root-level-loader">
			<ssi data-component-url="./components/header" data-component-name="header" data-content-model="http://localhost:3000/api/getheader" data-render-path="header" isServer="true">
			</ssi>

			<ssi data-component-url="./components/hero_banner" data-component-name="hero_banner" data-content-model="http://localhost:3000/api/getherobanner" data-render-path="hero_banner" isServer="true">
			</ssi>

			<ssi data-component-url="./components/stamp" data-component-name="stamp" data-content-model="http://localhost:3000/api/getsinglestamp" data-render-path="stamp" isServer="true">
			</ssi>

			<ssi data-component-url="./components/stamp" data-component-name="stamp" data-content-model="http://localhost:3000/api/getdoublestamp" data-render-path="stamp2" isServer="true">
			</ssi>

			<ssi data-component-url="./components/footer" data-component-name="footer" data-content-model="http://localhost:3000/api/getfooter" data-render-path="footer" isServer="true">
			</ssi>

		</div>
		<script type="text/javascript" src="main.js"></script>
	</body>

</html>
